<div class="principal">
  <div class="dataContainer">
    <div class="showcaseDataContainer">
          <app-navbar></app-navbar>
      <div class="mainShowcaseContainer">
        <div class="showcaseContainer">
          <div class="row">
            <div class="col-md-9">
              <h1>Catálogo de productos</h1>
            </div>
            <div class="col-md-3">
              <form [formGroup]="form_buscar">
                <div class="form-group">
                  <label for="buscar">Qué estás buscando?</label>
                  <div>
                    <input class="form-control" type="text" name="buscar" formControlName="buscar" [(ngModel)]="term" />
                  </div>
                </div>
              </form>

            </div>
          </div>
          <div class="row lista-productos" style="margin-top:20px">
            <div class="col-md-3" *ngFor="let product of products | filter: term">
              <div class="thumbnail">
                <img src="../../../assets/images/{{ product.nombreFoto }}" alt="Lights" style="max-height:100px">
                <div class="caption">
                  <h4>{{ product.nombre }}</h4>
                  <br>
                  <strong>Precio: </strong>{{ product.precio | currency:'COP' }}
                  <br />
                  <strong>Unidades disponibles: </strong>{{ product.stock }}
                  <br />
                </div>
                <div class="row">
                  <div class="col-lg-5">
                    <a [routerLink]="['/detail/', product._id]"><button type="button" name="button" class="btn btn-info">Ver más</button></a>
                  </div>
                  <div class="col-lg-7">
                    <form [formGroup]="form_adicionar">
                      <div class="form-group">
                        <button type="submit" name="button" class="btn btn-warning" (click)="adicionarProducto(product._id)" >Añadir</button>
                        <select class="form-control" formControlName="qty" name="qty"  id="sel1" style="width:auto; display: inline">
                          <option *ngFor="let qty1 of calcularCampoQTY(product.stock)">{{qty1}}</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
