<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FruVer.com</a>
    </div>
    <ul class="nav navbar-nav">
      <!--
      <li [routerLinkActive]="[active]" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['home']">Home</a></li>
      <li *ngIf="auth_service.estaLogueado()" [routerLinkActive]="[active]" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['dashboard']">Dashboard</a></li>
      -->
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/shop"><span class="glyphicon glyphicon-th"></span></a></li>
      <li><a routerLink="/checkout"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-inbox"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></li>
      <!--
      <li *ngIf="!auth_service.estaLogueado()" ><a routerLink="/login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="auth_service.estaLogueado()" ><a routerLink="/blog" >Blog</a></li>
      <li *ngIf="auth_service.estaLogueado()" ><a routerLink="/perfil" >Perfil</a></li>
      <li *ngIf="auth_service.estaLogueado()"><a href="#" (click)="onLogoutClick()" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <li *ngIf="!auth_service.estaLogueado()" [routerLinkActive]="[active]" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['registro']">Registro</a></li>
      -->
    </ul>
  </div>
</nav>
